{# test template #}
<!-- code for displaying success or error message in template -->

{% extends "base.html" %}
{% load i18n admin_static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% block content %}

<div class="container">
    <!-- Form rendering code for template -->

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
