mandarinrecording/{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{$ static 'registration/css/asterisk.css' %}"/>
<div class="container form-group">
<form action='' method="POST">
       {% for field in user_form %}
        <div class="form-group{% if field.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label field.label %}
            </label>
            <div class="">
                {% bootstrap_field field show_label=False form_group_class=None %}
            </div>
        </div>
   {% endfor %}
    {% csrf_token %}
        <div class="form-group{% if contributor_form.sex.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label contributor_form.sex.label %}
            </label>
            <div class="">
                {% bootstrap_field contributor_form.sex show_label=False %}
            </div>
        </div>
        <div class="form-group{% if contributor_form.accepted_license.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label "Accept license" %}
            </label>
            <div class="">
                {% bootstrap_field contributor_form.accepted_license show_label=False %}
            </div>
        </div>


        <div class="form-group{% if field.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label captcha_form.pinyin1.label %}
            </label>
        <div class="row">
            <div class="col-md-4">
        <audio controls>
                <source src="{% static 'registration/captcha_audio/000.mp3' %}" type="audio/mpeg">
        </audio>
            </div>
            <div class="col-md-8">
                {% bootstrap_field captcha_form.pinyin1 show_label=False %}
            </div>
            </div>
        </div>
        <div class="form-group{% if field.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label captcha_form.pinyin2.label %}
            </label>
        <div class="row">
            <div class="col-md-4">
        <audio controls>
                <source src="{% static 'registration/captcha_audio/001.mp3' %}" type="audio/mpeg">
        </audio>
            </div>
            <div class="col-md-8">
                {% bootstrap_field captcha_form.pinyin2 show_label=False %}
            </div>
            </div>
        </div>
        <div class="form-group{% if field.field.required %} required{% endif %}">
            <label class="control-label">
                {% bootstrap_label captcha_form.pinyin3.label %}
            </label>
        <div class="row">
            <div class="col-md-4">
        <audio controls>
                <source src="{% static 'registration/captcha_audio/002.mp3' %}" type="audio/mpeg">
        </audio>
            </div>
            <div class="col-md-8">
                {% bootstrap_field captcha_form.pinyin3 show_label=False %}
            </div>
            </div>
        </div>




        </div>

  {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% trans "Sign up" %}
    </button>
    </div>
</form>
  {% endbuttons %}
{% endblock %}
