{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}


    <div class="container">
<form class="form-signin" method="post" action="{% url 'login' %}">
{% csrf_token %}
{% bootstrap_form form %}

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "ok-sign" %} Login
    </button>
  {% endbuttons %}
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
{% endblock %}
