{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
<head>
    <div class="container">
    <title> {%trans "Recording" %} </title>
    <h1> {%trans "Summary" %} </h1>
    <p> {% blocktrans %}
        The goal of this project is to collect as many recordings from native Mandarin Chinese speakers.
        These recordings will be used to help students learning Mandarin Chinese practice their tone recognition.
    {% endblocktrans %} </p>
    <h1> {%trans "Practical" %} </h1>
    {% url 'userregistation' as userregistation %}
    <h2> {%trans "Registration" %} </h2>
    <p> {% blocktrans %}
    You will need to register on the
    <a href="/accounts/registration/"> registration page</a>
    and fill in
    your information. <br>
    Your name will only be used for attribution,
    If you do not want to give your real name you can just
    fill in an alias.<br>
    If you do not fill in any name your e-mail address will be used for attribution.<br>
    If you want to participate in this project you will also need accept that
    your recordings will be released under the
    <a href='https://creativecommons.org/licenses/by-sa/4.0/'>Creative Commons CC BY-SA 4.0 license</a>,
    click on the link to find more information about the license.
    {% endblocktrans %} </p>
    <h2> {%trans "Recording" %} </h2>
    <p> {% blocktrans %}
    After registration you can go the recording page. There you will be shown
    pinyin you can record using the record button. Click on the stop button
    when you finish recording and press the play button to listen to your
    recording. Restart your recording if necessary or click on the upload
    button to upload your recording. Once the recording is uploaded a new
    pinyin word to be recorded will appear.<br>
    You can do as many recordings as you like, and come back any time to the recording
    page to do more recordings.<br>
    here is an example of some pinyin and the recordings:
    {% endblocktrans %} </p>
    <lu>
    <li>
        <p>{% trans "mā as in 妈 (first tone)" %}</p>
        <audio controls=true>
            <source src="{% static 'recording/audio/ma1.mp3' %}" type="audio/mpeg">
        </audio>
    </li>
    <li>
        <p> {% trans "má as in 麻 (second tone)" %}</p>
        <audio controls=true>
            <source src="{% static 'recording/audio/ma2.mp3' %}" type="audio/mpeg">
        </audio>
    </li>
    <li>
        <p>{% trans "mǎ as in 马 (third tone)" %}</p>
        <audio controls=true>
            <source src="{% static 'recording/audio/ma3.mp3' %}" type="audio/mpeg">
        </audio>
    </li>
    <li>
        <p>{% trans "mà as in 骂 (forth tone)" %}</p>
        <audio controls=true>
            <source src="{% static 'recording/audio/ma4.mp3' %}" type="audio/mpeg">
        </audio>
    </li>
    <li>
        <p>{% trans "ma as in 吗 (fifth/zeroth/no tone)" %}</p>
        <audio controls=true>
            <source src="{% static 'recording/audio/ma5.mp3' %}" type="audio/mpeg">
        </audio>
    </li>
    </lu>
    <p> {% blocktrans %}
    If you record multiple syllables at once, for example: "mā rì pǐng", try to
    pronounce them as if it was one word. Any combination that has a meaning is
    pure coincidence.
    {% endblocktrans %} </p>
    <li>
        <p>mā rì pǐng</p>
        <audio controls=true></audio>
    </li>
    <h2> {%trans "Terms of Use" %} </h2>
    <p>
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a><br>
        {% blocktrans %}
        The audio recordings used on this website are licensed under a
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution-ShareAlike 4.0 International License</a>. They are attributed to Bankey Kung and 张丹.<br>
        {% endblocktrans %}
        <a rel="license" href="https://www.gnu.org/licenses/agpl.html">
            <img alt="GNU Affero General Public License" style="border-width:0" src= {% static "recording/img/agplv3-88x31.png" %} />
        </a><br>
        {% blocktrans %}
        This website is licensed under a
        <a rel="license" href="https://www.gnu.org/licenses/agpl.html">
            GNU Affero General Public License</a>.
        {% endblocktrans %}
    </p>
    </div>
{% endblock %}
