{% extends "base.html" %}
 {% load i18n %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
<head>
    {#TODO necessary? #}
    {% csrf_token %}

    <div class="container">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Live input record and playback</title>
  <style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio { display: block; margin-bottom: 10px; }
  </style>
</head>
<body>

  <h1>Recording</h1>

  <h2>Welcome {{ user.last_name }} {{ user.first_name }}!</h2>
  <p>Record the word by clicking on the "record" button and play it to check
  if it is correct. You can restart your recording by clicking again on the
  "record" button if you think you made a mistake. Click on the "upload" button
  to upload your recording, a new word will appear when you do so.</p>
  <p>You can make as many recordings as you like, and you can come back later
  to this page to make more recordings.</p>
  <p>Make sure you are using a recent version of Google Chrome.</p>
  <h2>Next recording:</h2>
  <h3 id="nextSyllable">This is the paragraph you cant to be able to edit</h3>
  <h2>Recordings</h2>
  <ul id="recordingslist2">
      <li>
          {% buttons %}
          <audio id='audioElement' controls></audio>
          </li>
          <li>
          <button title='please listen to your recording before you upload it' id='uploadButton' class='btn btn-primary'>upload</button>
          <button id='recordButton' class='btn btn-default'>record</button>
          <button id='stopButton' class='btn btn-default'>stop</button>
          {% endbuttons %}
      </li>
  </ul>
    </div>
  {% load static %}
  <script src="{% static "jquery-1.11.3.min.js" %}"></script>
<script>
  "use strict";
  var recordButton = document.getElementById('recordButton');
  var stopButton = document.getElementById('stopButton');
  var uploadButton = document.getElementById('uploadButton');
  var audioElement = document.getElementById('audioElement');
  var audioFile;
  var uploaded = false;
  var audio_context;
  var recorder;

  recordButton.onclick = function() {
      recorder && recorder.record();
      this.disabled = true;
      stopButton.disabled = false;
  };

  stopButton.onclick = function() {
      recorder && recorder.stop();
      this.disabled = true;
      recordButton.disabled = false;
      recorder && recorder.exportWAV(function(blob) {
          audioFile = blob;
          audioElement.src = URL.createObjectURL(blob);
          recorder.clear();
      })
  }

  uploadButton.onclick = function() {
      upload(audioFile, window.pinyin.pinyin);
      setNextSyllable();
      this.disabled = true;
  }
  audioElement.onplay = function () {
      if (!uploaded) uploadButton.disabled = false;
  }

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    recorder = new Recorder(input);
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      audio_context = new AudioContext;
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    uploadButton.disabled = true;
    stopButton.disabled = true;
    setNextSyllable();
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
    });
  };
// Required for Django CSRF
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

function upload(blob, pinyin) {
    var fd = new FormData();
    fd.append('fname', 'test.wav');
    fd.append('data', blob);
    $.ajax({
        type: 'POST',
        url: 'upload/',
        data: blob,
        processData: false,
        contentType: false,
        headers: {
            'X-CSRFToken':getCookie('csrftoken'),
            'pinyin':pinyin,
                },
        complete: function (data) {
            setNextSyllable();
        }
    })
}

    function setNextSyllable() {
    return $.getJSON("getNextSyllable/", function(data) {
        window.pinyin = data;
        document.getElementById('nextSyllable').innerHTML =
            window.pinyin.pretty_pinyin;
    });
}
  </script>

  <script src="{% static "recorder.js" %}"></script>
{% endblock %}
